@import 'spacing.scss';
@import 'mixins.scss';

.search-input-container {
    @include center();
    flex-direction: column;
    @include margin('large');
    @include padding('large');
}

.input-size {
    min-width: 300px;
    max-width: 450px;
}

.button-direction {
    @include center();
    button {
        @include margin('medium', 'left');
        @include margin('medium', 'right');
    }
}
